<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Edit Accessory Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h2>Edit Accessory details</h2>
		<form action="#" th:action="@{/addAccessory}" th:object="${ace}" method="post"> <!-- ace ha add attribute cha object ahe -->
			<!-- frist call geters methods -->
			<input type="hidden" th:field="*{aid}"/>
			
			<input type="text" th:field="*{aid}"
				placeholder="Enter Acessory Number" class="form-control mb-4 col-4">
              
			<input type="text" th:field="*{aname}"
				placeholder="Enter Acessory Name" class="form-control mb-4 col-4">

			<input type="text" th:field="*{dofAdd}" placeholder="Enter date Of Add"
				class="form-control mb-4 col-4">
				
		<!-- <input type="text" th:field="*{quantity}" placeholder="Enter Quantity"
				class="form-control mb-4 col-4"> -->
		
			<button type="submit" class="btn btn-info col-2">Edit Accessory</button>
		</form>
		<br>
     
		<a th:href="@{/}"> Back home page</a>
	</div>
</body>
</html>