<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to gym Home Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
</head>
<body style="background-color: MistyRose;">

	<div class="text-danger" align="center">
		<h2>Welcome to GYM</h2>
	</div>

	<nav class="navbar navbar-expand-sm">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="adminLogin">Admin_Sing-In</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="adminRegister">Admin_Register</a>
			</li>
		</ul>
	</nav>


	<nav class="navbar navbar-expand-sm  bg-light">
		<!--   <div class="container p-1 m-1 text-white">
      <p>user for gym</p>
           </div> -->
		<ul class="navbar-nav ml-auto center">
			<li class="nav-item"><a class="nav-link" href="userLogin">User_Sing-In</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="userRegister">User_Register</a>
			</li>
		</ul>
	</nav>
	<!-- Trainer Login -->
	<nav class="navbar navbar-expand-sm ">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="TrainerLogin">Trainer_Sing-In</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="TrainerRegister">Trainer_Register</a>
			</li>
		</ul>
	</nav>
	<div class="container p-3 my-2  text-danger ">
		<h4>We provides a following Courses</h4>
		<ul>
			<b>
			    <li>Regular Fitness</li>
			    <li>Body Building</li>
				<li>Zumba</li>
				<li>Weight Lifting</li> </b>
		</ul>
	</div>

	<div class="container">
	<div class="row">
		<div class="col">
			<b><i> good health good life</i></b>
		</div>
		<div class="col">
		    <b>get jump on your day</b>
		</div>
		<div class="col"><b>“It is health that is real wealth and not pieces of gold and silver.”</b></div>
	</div>
	</div>

</body>
</html>