<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Courses Form</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>

<div class="center">
	<div class="container" align="center">
		<h4>Update Courses detail</h4>

		<form action="#" th:action="@{/updateCourses}" th:object="${course}" method="post"> <!-- ace ha add attribute cha object ahe -->
			
			<input type="hidden" th:field="*{cid}"/> 
			
			<lable> Enter Course Name</lable>
			<input type="text" th:field="*{courseName}"
				placeholder="Enter course Number" class="form-control mb-2 col-4">

         <lable> Enter Trainer Name</lable>
			<input type="text" th:field="*{trainerName}"
				placeholder="Enter Trainer Name" class="form-control mb-2 col-4">

         <lable> Enter monthly fees</lable>
			<input type="number" th:field="*{monthlyFees}" placeholder="Enter monthly fees"
				class="form-control mb-2 col-4">
		<lable> Enter Yearly Fees</lable>
			<input type="number" th:field="*{yearlyFees}" placeholder="Enter date Of Add"
				class="form-control mb-2 col-4">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
		<br>
		<a th:href="@{/}"> Back home page</a>
	</div>
	</div>



</body>
</html>