<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>view all data </title>
</head>
<body style="background-color:azure;">
<p> Admin can seen all data of user and trainer</p>
<p><a href="viewAcessory">viweAcessory</a></p>

<!--<p><a href="CourseDetails">CourseDetails</a></p>-->
<p><a href="CourseDetail">CourseDetailTrainer</a></p>

<p><a href="ShowAllUsers">viewAllUsers</a></p>
<p><a href="ShowAllTrainers">viewAllTrainers</a></p>
<p><a href="showPayment">Payment Details</a></p>

<p><a href="viewAttendance">Attendance </a></p>

<!-- <p><a href="acessory">data</a></p> -->
</body>
</html>
