<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
</head>
<body bgcolor="skyblue">

<a href="/">Home</a>
 <!--  
<a href="index">Back</a> -->
<form action="saveUser" autocomplete="off" method="get">
<h1>Enter User Details Here.....</h1>
 <table align="center">
 
   <tr>
    <td>User Name</td>
    <td><input type="text" placeholder="abc@123" name="userName"/></td>
   </tr>
   
   <tr>
    <td>Enter Password</td>
    <td><input type="password" name="password"/></td>
   </tr>
    
    <tr>
    <td>Enter Role</td>
    <td><input type="text" placeholder="ROLE_ADMIN" name="roles"/></td>
   </tr>
   
   <tr><td colspan="2" ><input type="submit" value="Register"/></td></tr>
 </table>
 </form>
</body>
</html>