<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a href="/">Home</a>

<table align="center" border="1" cellpadding="5" cellspacing="5">
<tr>
<th>ID</th>
<th>Name</th>
<th>Address</th>
<th>Phone No</th>
<th>Role</th>
<th>Date of Join</th>
<th>Salary</th>
</tr>
<tr th:each="objst:${elist}">
<td><span th:text="${objst.id}"></span></td>
<td><span th:text="${objst.name}"></span></td>
<td><span th:text="${objst.address}"></span></td>
<td><span th:text="${objst.phoneno}"></span></td>
<td><span th:text="${objst.role}"></span></td>
<td><span th:text="${objst.joinDate}"></span></td>
<td><span th:text="${objst.salary}"></span></td>
</tr>
</table>

</body>
</html>