<title>Insert title here</title>
<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
</script>
</head>
<body style="background-color:powderblue;">

<!-- Home page for user try with another mapping -->

<h1>ShowRoom Management Application</h1>
<nav class="navbar navbar-expand-sm bg-dark">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<a class="nav-link" href="enterStock">Add Stock</a>
</li>
<li class="nav-item">
<a class="nav-link" href="viewAllItem">Product List</a>
</li>
<li class="nav-item">
<a class="nav-link" href="showallbills">All Bills</a>
</li>
<li class="nav-item">
<a class="nav-link" href="enterOffer">Enter offer</a>
</li>
<li class="nav-item">
<a class="nav-link" href="viewAllOffers">Offers</a>
</li>
</ul>

</nav>
<img src ="images.jpg" width="300px" height="300px">

</body>
</html>