<!DOCTYPE html>
<html>
<head  xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<title>page 1 index page </title>
<!--  
<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
</script>
-->

<link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous" />
            <link rel="stylesheet" th:href="@{/css/style.css}">
            <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


<style>
h1 {text-align: center;}
</style>
</head>

<body style="background-color:#ADD8E9;">
        
        <div class="banner">

<h1>ShowRoom Management Application </h1>
</align>
<!--  
<div class = >
      <img  src=""  th:src=@{/img/Show.jpg}>
</div>
-->
<nav class="navbar navbar-expand-sm  bg-white">

<ul class="navbar-nav ml-auto">
<li class="nav-item">
<a class="nav-link" href="enterStock">Add Stock</a>
</li>
<li class="nav-item">
<a class="nav-link" href="viewAllItem">Product List</a>
</li>
<li class="nav-item">
<a class="nav-link" href="showStock">Show Stock</a>
</li>
<li class="nav-item">
<a class="nav-link" href="addUser">User Registration</a>
</li>
<li class="nav-item">
<a class="nav-link" href="showUser">Users</a>
</li>
<li class="nav-item">
<a class="nav-link" href="employee">Add Employee</a>
</li>

<li class="nav-item">
<a class="nav-link" href="showEmployee">Show Employee</a>
</li>

<li class="nav-item">
<a class="nav-link" href="enterOffer">Offers</a>
</li>

<li class="nav-item">
<a class="nav-link" href="viewAllOffers">View_Offers</a>
</li>

<li class="nav-item">
<a class="nav-link" href="showallbills">All Bills</a>
</li>
</ul>

</nav>
</div>
</body>
</html>