<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor="pink">
<a href="/">Home</a>

<!-- ><a th:href="@{/showStock}">Back</a><br> <!-- no logic find in controller used aggregate function in sql  -->
<font size="7" >Current Present Stock by Purchase Price :</font>
<font color="red" size="9" ><span th:text="${totalprice}"></span></font><br><br>
<table align="center" border="1" cellpadding="5" cellspacing="5">
<tr>
<th>Id</th>
<th>Item name</th>
<th>Company </th>
<th>Quantity</th>
<th>Price</th>
<th>Total</th>
</tr>
<tr th:each="objst:${ilist}">
<td><span th:text="${objst.itemId}"></span></td>
<td><span th:text="${objst.itemName}"></span></td>
<td><span th:text="${objst.company}"></span></td>
<td><span th:text="${objst.quantity}"></span></td>
<td><span th:text="${objst.price}"></span></td>
<td><span th:text="${objst.totalPrice}"></span></td>
</tr>
</table>
</body>
</html>